:root {
    /* cores */
    --backgroud-color: #23031A;
    --color-white: #D9D9D9;
    --color-pink: #E19CBB;
    --color-wine: #6A1452;
    --color-yellow: #E5CB1D;
    /* fonts */
    --font: Alumni Sans SC, sans-serif;
    /* font size */
    --title-cracha: 30px;
    --titulos: 18px;
    --text: 14px;

    /* transition */
    --transition-: height 2s;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Alumni Sans SC, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

h1 {
    color: var(--color-wine);
    font-size: var(--title-cracha);
    font-family: "Alumni Sans SC", sans-serif;
}

h4 {
    background-color: var(--color-yellow);
    width: max-content;
    padding: 5px 10px;
    margin: 0 auto;
    color: var(--color-wine);
    border-radius: 10px;
    font-size: var(--titulos);

}

h3 {
    font-size: var(--titulos);
}

p {
    font-size: var(--text);
}

main {
    margin-top: -53px;
    height: auto;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 2;
    display: grid;
    justify-content: center;
    background: rgba(255, 255, 255, 0.26);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.vejaMais-btn {
    text-align: center;
    color: var(--color-wine);
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;

}

.vejaMais-btn i {
    font-size: 10px;
    animation: moverCard 1s ease-in-out infinite;

}

#heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-pink);
    position: sticky;
    top: 0;
    z-index: 1;

    height: 100vh;
}

.containerLetters {
    display: flex;

}

.containerLetters img {
    width: 85vw;
}


/* About me */
#aboutMe {
    align-items: center;
    display: grid;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80vw;
    min-height: 70vh;
    gap: 1rem;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px 10px;
    animation: moverCard 1.5s ease-in-out infinite;
    z-index: 3;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);

}

.cracha-img {
    width: 60vw;
    height: 30vh;
    background-color: var(--color-pink);
    margin: auto;
    border-radius: 20px;
}

.cracha-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.descricao {
    text-align: center;
    display: grid;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}

.descricao h3 {
    font-size: var(--title-cracha);
    color: var(--color-wine);
    font-weight: 800;
    text-align: center;

}


.descricao p {
    color: var(--color-wine);
    text-align: justify;
}

.name {
    position: relative;
}

.line {
    margin: 0 auto;
    width: 80%;
    height: 1px;
    background-color: var(--color-wine);
    position: absolute;
    left: 28px;
    bottom: 20px;
}

.habilidades {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;


}

.habilidades i {
    font-size: 35px;
    color: var(--color-wine);


}

.habilidades i:hover {
    transform: scale(1.3);
    color: var(--color-pink);
    transition: .3s;
}

@keyframes moverCard {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* card projects */
#projects {
    min-height: 100vh;
}

.banner,
.descriptionProj {
    width: 100%;
    height: 25vh;
    border-radius: 20px;

}


.banner {
    background-color: var(--color-pink);
    position: relative;
    z-index: 2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

}

.name img {
    width: 85px;
}

.category {
    background-color: var(--color-yellow);
    color: var(--color-wine);
    padding: .3rem;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
    position: absolute;
    top: 5px;
    left: 5px;
}

.category p {
    font-weight: 800;
}

.card-project {
    position: relative;
    border-radius: 40px;
    grid-row: span 1;
    transition: var(--transition-);
    height: 0;
    color: var(--color-wine);
    /* background: rgba(255, 255, 255, 0.04); */
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.2px);
    -webkit-backdrop-filter: blur(4.2px);

}


.descriptionProj {
    margin-top: -15px;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: transparent;
    color: var(--color-wine);
    border-radius: 5px 5px 20px 20px;
    background: rgba(250, 204, 225, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    transition: height .35s ease;


}

.containerProjects {
    margin: 50px auto;
    width: 85%;
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25vh;
    gap: 1rem;
    justify-content: center;
    padding: 10px;
    
}

.text button {
    padding: 3px 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-pink);
    color: var(--color-wine);
    box-shadow: 0px 3px var(--color-wine);
    cursor: pointer;

}
.text button:hover{
    background-color: var(--color-yellow);
     transition: 0.3s ease-in-out 0.1s;

}

.text p {
    max-height: 12vh;
    
    overflow-y: auto;
    margin: 10px 0;
    
}

.top {
    min-height: 200px;
}

.margin {
    gap: 1rem;
    padding: 10px;
    display: none;
    min-width:90%;
    margin-top: 10px;

}

.tecnologies {
    display: flex;
    gap: 0.5rem;
    height: auto;
}

.tech {
    font-size: 10px;
    padding: 3px;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    height: max-content;
    align-items: center;
    cursor: pointer;

}
.tech:hover{
    transform: scale(1.2);
     transition: 0.4s ;
}

footer {
    background-color: var(--color-wine);
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 3;
    border-radius: 20px 20px 0 0;
    margin-top: -15px;
    text-align: center;
}

.contatos {
    margin: 0 auto;
    text-align: center;
    color: var(--color-pink);
    background-color: var(--color-wine);
    padding: 5px 18px;
    margin-top: -20px;
    border-radius: 20px 20px 0 0;
    width: max-content;

}

footer ul {
    padding: 10px;
    color: var(--color-pink);


}

.voltar {
    text-align: center;
    color: #E19CBB;
    background-color: var(--color-pink);
    color: var(--color-wine);
    width: max-content;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
}

.voltar:hover {
    background-color: var(--color-yellow);
}

.voltar i {
    font-size: 10px;
    padding: 5px 20px;
}

/* 480px // Extra small screen
768px // Small screen
992px // Medium screen
1200px // Large screen
1600px // Extra Large screen
1900px // Extra Large screen */


@media (min-width: 1200px) {
    :root {
        --title-cracha: 48px;
        --titulos: 26px;
        --text: 20px;
    }

    .banner {
        min-width: 35vw;
    }

    .descricao {
        gap: 1.5rem;
    }

    .habilidades i {
        font-size: 50px;
    }


    .card {
        width: 85%;
    }

    .cracha-img {
        width: 60%;
        height: 35vh;
    }


}


@media(min-width: 992px) {
    :root {
        --title-cracha: 42px;
        --titulos: 24px;
        --text: 19px;
    }

    .cracha-img {
        width: 60%;
        height: 35vh;
    }

    .banner {
        min-width: 35vw;
    }

}

@media (min-width:768px) {
    :root {
        --title-cracha: 38px;
        --titulos: 25px;
        --text: 20px;
    }

    main {
        margin-top: -62px;
    }
    #aboutMe{
        height:50vh;
    }
    .containerProjects{
        width: 82%;
        margin:50px auto;
        gap: 1rem;
    }

    


    .card {
        flex-direction: row;
        min-height: max-content;
        gap: 3rem;
        justify-content: center;
        align-items: center;
       

    }

    .name img {
        width: 50px;

    }

    .cracha-img {
        width: 30vw;
        height: 30vh;
        margin: 0;

    }
    .habilidades{
        justify-content: left;
    }

    .habilidades i {
        font-size: 45px;
    }

    .descricao {
        gap: 1rem;
        width: 50%;
        padding: 0;
    }
    h4{
        margin: 0;
    }
    .descricao p{
         text-align: left;
    }
    .descricao h3{
        text-align: left;
    }

    .name img {
        width: 90px;
    }
    .margin{
        padding: 20px;
    }
    .tech{
        font-size: 15px;
    }

}


@media (min-width:480px) {

    .habilidades i {
        font-size: 30px;
    }

    main {
        margin-top: -55px;
    }

    .descricao {
        gap: 1rem;
    }

}
@media(orientation: landscape){

     :root {
        --title-cracha: 45px;
        --titulos: 30px;
        --text: 20px;
    }
    #aboutMe{
        height:100vh;
    }
    .containerLetters img{
        width: 80%;
    }
    .containerLetters{
        justify-content: center;
    }
    .margin{
        padding: 14px;
    }
   
    .cracha-img{
        width: 100%;
        height: 45vh;

    }
   
    .banner{
        height: 40vh;
        border-radius: 50px;
    }
    .containerProjects{
        grid-auto-rows: 40vh;
        width:90%;
        margin: 50px auto;
    
    }
   
   
}