/* VARIÁVEIS */

:root{
    --cor-background:#121435;
    --cor-secundaria:#366ED8;
    --cor-Titulo:white;
    --cor-button:#366ED8;
    --cor-texto:white;

    --font-titulos: sans-serif;
    --font-texto: sans-serif;

    --fontSize-Hero:40px;
    --font-sizeTitulo:30px;
    --font-subTitulo:20px;
    --font-sizeTexto:20px;
    --font-destaque:Dancing Script, cursive;
}


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: var(--cor-background) url('../img/body.png') center/cover no-repeat;
    font-family: var(--font-texto);
    color: var(--cor-texto);
}

p, li{
    font-size: var(--font-sizeTexto);
}

h1{
    font-size: var(--fontSize-Hero);
}
h2{
    font-size: var(--font-sizeTitulo);
    
}
h3{
    font-size: var(--font-subTitulo);
    word-spacing: 5px;
}
h1, h2, h3{
    font-family: var(--font-titulos);
    font-weight:300;
    color: var(--cor-Titulo);
}
a{
    text-decoration: none;
}

section{
    width:100%;
    overflow:hidden;
}

button{
    width:80%;
    height:5vh;
    border:none;
    border-radius:30px;
    box-shadow:0 4px 30px rgba(80,128,215,0.6);
    background:var(--cor-button);
    color:white;
    cursor:pointer;
    font-family:var(--font-texto);
}

span{
    color:#6395f2;
    font-family:"Dancing Script", cursive;
    font-weight:700;
    font-size:30px;
    text-shadow:0 4px 30px rgba(80,128,215,0.6);
}
header{
    display: none;
}


/* ============================
          HERO SECTION
============================= */
#heroSection{
    background: var(--img-banner) center/cover no-repeat;
}
.containerHero{
    justify-content: center;
    margin: 5%;
    display: grid;
    gap: 1rem;
}

.infoContainer{
    background:#d9d9d923;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    border-radius:10px;
    box-shadow:0 4px 30px rgba(0,0,0,0.2);
    padding:5%;
    width:100%;
    margin:0 auto;
}

.infoContainer ul{
    display:flex;
    justify-content:center;
    gap:2rem;
    list-style:none;
}

.infoContainer li{
    font-size:12px;
}

.infoContainer i{
    color:#6395f2;
}

.text{
    display: grid;
    gap: 1rem;
    width:80%;
    text-align:left;
}

/* ============================
           FORM
============================= */
.formContainer{
    max-width:100%;
    padding:3%;
    background:#d9d9d924;
    border-radius:20px;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    box-shadow:0 4px 30px rgba(0,0,0,0.2);
}

.formContainer p{
    width:75%;
    margin:0 auto 3%;
    text-align:center;
    font-size:13px;
}

.formContainer button{
    width:85%;
    height:6vh;
    border-radius:20px;
    margin:0 auto 3%;
    display:block;
    animation:pulsar 1.3s infinite ease-in-out;
}

/* Animação botão pulsando */
@keyframes pulsar{
    0%{ transform:scale(1); }
    70%{ transform:scale(1.08); }
    100%{ transform:scale(1); }
}

.formContainer select{
    width:90%;
    padding:12px 16px;
    margin:3% auto 5%;
    display:block;
    border:none;
    border-radius:10px;
    background:white;
    font-size:16px;
    color:#121435;
    box-shadow:0 0 10px #0003;
    text-align: center;
    cursor:pointer;
}

input{
    padding:12px 20px;
    width:90%;
    display:block;
    border:none;
    border-radius:30px;
    margin:3% auto;
}

/* ============================
     UPLOAD BOX — ARQUIVOS
============================= */
.upload-box{
    width:90%;
    height:15vh;
    background:white;
    border-radius:20px;
    margin:3% auto;
    display:grid;
    place-items:center;
    position:relative;
}

.upload-box i{
    color:#366ED8;
    font-size:30px;
}

.upload-box input[type="file"]{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    cursor:pointer;
}

/* ============================
         CARROSSEL
============================= */
.containerCarrossel{
    display:flex;
    gap: 5rem;
    width:100%;
    padding:3% 0;
    background:#588ced4b;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    overflow-x:auto;
    scrollbar-width:none;
    margin-top:10vh;
    position:relative;
}

.carrossel{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:4rem;
    animation:slide 20s linear infinite;
    pointer-events:none;
}

.carrossel img{
    flex:0 0 3em;
    max-width: 100px;
    height:auto;
}

@keyframes slide{
    from{ transform:translateX(0); }
    to{ transform:translateX(-100%); }
}

/* ============================
         CARDS SERVIÇOS
============================= */
#serviços{
    text-align:center;
}

#serviços h2{
    margin-top:10%;
}

.containerCards{
    display:grid;
    gap:2rem;
    margin-top:10%;
}

.card{
    width:60%;
    margin:0 auto;
    background:linear-gradient(to top,#12143560,#ffffff24);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    padding:5%;
    border-radius:20px;
    text-align:left;
    display: grid;
    gap:1rem;
}
.card ul{
    font-family: var(--font-destaque);
    margin-left: 10%;
}

.card img{
    width:100%;
    border-radius:20px;
    margin-bottom:5%;
}

.card button{
    margin-top:5%;
    width: 100%;
}

.card button:hover{
    background:#121435;
}


/* ============================
        COMO FUNCIONA
============================= */
#comoFunciona{
    background: var(--img-banner) right/cover no-repeat;
    text-align:center;
    height: auto;
    margin-bottom: 10%;
   
}

#comoFunciona h2{
    margin-top:20%;
}

#comoFunciona h3{
    width:70%;
    margin:5% auto 10%;

}

.containerFases{
    display:grid;
    justify-content: space-between;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.fases{
    width: 100%;
   
}

.fases img{
    max-width:100px;
    height: auto;
}

.textContent{
    width:50%;
    margin:0 auto;
}

.linha-vertical{
    stroke: white;
    margin-top: 4%;
    stroke-width: 4;
    transform: rotate(0deg);

}
.linha-diagonal{
    display: none;
}


/* ============================
   VANTAGENS DA ENTREGA DIGITAL
============================= */
#vantagensDeEntrega{
    text-align:center;
}

#vantagensDeEntrega h2{
    width:70%;
    margin:10% auto;
}

.containerVantagens{
    width:80%;
    margin:10% auto;
    background:rgba(255,255,255,0.074);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    padding:3%;
    border-radius:20px;
    box-shadow:12px 5px 30px rgba(29,29,32,0.6);
}
.lista{
    width:70%;
    margin:0 auto;
    list-style:none;
}

.lista li{
    margin:5% 0 10%;
}

.tituloVantagens p{
    margin-top:3%;
}

.containerVantagens img{
    margin-top:5%;
    max-width:260px;
}

/* ============================
            IDIOMAS
============================= */
#idiomas{
    text-align:center;
    height: 80vh;
}

#idiomas h2{
    margin-top:20%;
}

#idiomas h3{
    width:80%;
    margin:5% auto;
    font-size:15px;
}

.containerIdiomas{

    display:grid;
    gap:1rem;
    max-width:60%;
    margin-left:19%;
    height: auto;
    margin-bottom: 5%;
}

.idiomas{
    display:flex;
    align-items:center;
    gap:1rem;
    width:100%;
    padding:5%;
    border-radius:20px;
    background:rgba(255,255,255,0.074);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(10px);
    box-shadow:12px 5px 30px rgba(29,29,32,0.6);
}

.idiomas img{
    max-width:30px;
}

.idiomas:hover{
    background:#366fd88d;
    box-shadow:0 4px 30px rgba(80,128,215,0.6);
}

/* ============================
              FOOTER
============================= */
footer{
    text-align:center;
    display: grid;
    gap:2rem;
}

.containerLogo{
    width:80%;
    margin:0 auto;
}
.containerLogo span{
    margin: 2%;
    
}

.containerLogo img{
    max-width:166px;
}

.LinksFooter ul{
    list-style:none;
}

.LinksFooter a{
    color:white;
    text-decoration:none;
}

.LinksFooter a:hover{
    color:var(--cor-secundaria);
}

.containerContato{
    display:grid;
    gap:1rem;
    margin-top: 4%;
    justify-content:center;
    margin-bottom: 3%;
}

.containerContato i{
    color:#366ED8;
}

.containerContato button{
    width:100%;
    background-color: white;
    font-size:18px;
    color: #366ED8;
}


.aviso{
    width:80%;
    background:var(--cor-secundaria);
    padding:3%;
    border-radius:20px 20px 0 0;
    margin:0 auto;
    font-size:16px;
    color:white;
}

.containerRedesSociais{
    display:flex;
    justify-content:center;
    gap:1rem;
    margin:5% 0;
    font-size:25px;
}
.containerRedesSociais a{
    color: white;
}
.containerRedesSociais a:hover{
    color: #366ED8;
}




/* ============================
   BOTÃO FLUTUANTE (WhatsApp)
============================= */
.botaoFlutuante{
    position:fixed;
    right:6%;
    bottom:0;
    width:10%;
    z-index:9999;
    display:flex;
    justify-content:center;
    transition:.2s ease;
}

.botaoFlutuante img{
    width:70px;
}

.botaoFlutuante:hover{
    transform:scale(1.2);
}
